@tailwind base;
@tailwind components;
@tailwind utilities;

#beranda {
  height: 550px;
}

.hr {
  color: "#74642e";
}

@media (max-width: 600px) {
  #beranda {
    height: 350px;
    padding-top: 0;
  }
}

#btn-schedule {
  background-color: red;
}

.price {
  font-style: italic;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: center;
  color: goldenrod;
  background-image: url("../public/images/bg-price.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

/* SLIDER  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.swiper-slide-testimoni {
  border: 3px solid #fa6709;
}

.swiper-slide-testimoni img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.swiper-slide-testimoni:hover {
  transform: scale(1.03);
  cursor: grab;
  border: 5px solid #fa6709;
  box-shadow: #4caf50;
}

.swiper-pagination-bullet {
  background: rgb(255, 0, 0) !important;
  /* color: red; */
}

.logo-img:hover {
  transform: scale(1.05);
  cursor: grab;
}

/* POPOVER  */
.popover-button {
  background-color: #4caf50; /* Hijau */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.popover-content {
  background-color: #f40000;
  padding: 15px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* CALENDAR  */

.react-calendar {
  width: 400px;
  max-width: 100%;
  color: #eaeaea;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.125em;
  border-radius: 7px;
  border: 2px solid #a7a7a7 !important;
  background: #ffffff !important;
}

.react-calendar button {
  font-size: 12px;
  font-weight: bold;
}

.react-calendar__tile:disabled {
  background: #f1f1f1 !important;
  color: #f1f1f1 !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  border: 0.2px solid #dcdcdc !important;
}

.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}

.react-calendar__month-view__days__day--weekend {
  color: #dddddd !important;
}

.react-calendar__month-view__days__day--weekend:hover {
  color: black !important;
}

.react-calendar-tile:disabled:hover {
  color: #ababab !important;
}

.react-calendar__navigation {
  margin: 5px;
}

/* REMOVE PREV BTN  */

.react-calendar__navigation__next-button {
  background-color: #76818d !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  color: white !important;
  font-size: 2rem;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev-button {
  background-color: #76818d !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  color: white !important;
  font-size: 2rem;
}

.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover {
  background-color: #2c3e53 !important;
}

.react-calendar__navigation__label,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
  background-color: white !important;
}

abbr[title] {
  text-decoration: none;
  color: black !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #eaeaea;
  color: #1b4552;
}
.react-calendar__tile--now {
  background: #fee0c833;
  font-weight: bold;
  color: #ffffff;
  background: #1b4552 !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fffadd;
  font-weight: bold;
  color: #fee0c8;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #fffadd !important;
  font-weight: bold;
  color: black !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #fee0c8;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #fffadd;
}
.react-calendar__tile--range {
  background: #000003;
  color: #fee0c8;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #fee0c8;
  color: white;
}

.react-calendar__tile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 50px;
  background: #ffffff;
  color: #dddddd;
  padding: 5px !important;
  border: 0.2px solid #dcdcdc !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #dddddd !important;
}

.time-picker {
  width: calc(100% - 20px); /* Muncul di samping kalender */
  position: absolute;
  top: 10;
  left: calc(100% + 10px); /* Muncul di samping kalender */
  background-color: #ffffff;
  border: 2px solid #a7a7a7;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.time-picker-header {
  background-color: #1b4552;
}

.btn-jam {
  border-radius: 5px;
  background-color: #18a2b7;
  color: white;
  height: 30px;
}

.popover-content {
  border: none;
  background-color: unset;
  padding: 10px;
  box-shadow: none;
}

/* navbar mobile  */
.hamburger-sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
  z-index: 10;
  width: 250px;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  top: 20;
  left: -250px;
  transition: left 0.3s ease;
  border-radius: 15px;
}

.open {
  left: 5px;
}

/* dialog  */
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure the overlay is on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  position: relative;
  display: block;
  background: white;
  width: 30%;
  height: 90vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  background-color: #d74a49;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .time-picker {
    position: absolute;
    top: calc(100% + 3px);
    left: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  .dialog {
    width: 90%;
  }
}
